---
layout: base.njk
title: Matt Cavender
---

{% set postslist = collections.posts | reverse %}

<div class="item">
   <div class="item">
      <b style="color:#df625b">WRITING</b> - <a href="/feed.xml">RSS</a>
   </div>

   {% if postslist.length > 0 %}
      {% for post in postslist %}
      <div class="item">
         <b><a href="{{ post.url }}">{{ post.data.title }}</a></b> [ {{ post.data.date | dateDisplay }} ]<br /><br />
         {{ post.data.description }}<br />
      </div>
      {% endfor %}
   {% else %}
      <div class="item">
         No posts yet...<br />
      </div>
   {% endif %}
</div>

<div class="item">
   <div class="item">
      <b style="color:#df625b">CODE</b>
   </div>
   <div class="item">
      <b>DICES</b> [ <a href="https://github.com/visionsofparadise/dices">https://github.com/visionsofparadise/dices</a> ]<br /><br />
      Quantum-resistant encryption layer using ML-KEM-1024 + X25519 hybrid with bounded triple ratchet. Provides forward/backward secrecy for P2P applications.<br />
   </div>

   <div class="item">
      <b>DICE</b> [ <a href="https://github.com/visionsofparadise/dice">https://github.com/visionsofparadise/dice</a> ]<br /><br />
      P2P connectivity protocol using distributed peer infrastructure instead of centralized STUN/TURN servers.<br />
   </div>

   <div class="item">
      <b>bufferfy</b> [ <a href="https://github.com/visionsofparadise/bufferfy">https://github.com/visionsofparadise/bufferfy</a> ]<br /><br />
      Binary serialization library achieving 50-70% smaller output than JSON and 30-40% smaller than msgpack with full TypeScript type inference.<br />
   </div>

   <div class="item">
      <b>kademlia-table</b> [ <a href="https://github.com/visionsofparadise/kademlia-table">https://github.com/visionsofparadise/kademlia-table</a> ]<br /><br />
      XOR distance routing table for Kademlia DHT with extendable k-buckets, LRU ordering, and external liveness management.<br />
   </div>

   <div class="item">
      <b>sqs-mock</b> [ <a href="https://github.com/visionsofparadise/sqs-mock">https://github.com/visionsofparadise/sqs-mock</a> ]<br /><br />
      A functional, in-memory mock of the SQS client from AWS-SDK.<br />
   </div>
</div>

<div class="item">
   <div class="item">
      <b style="color:#df625b">PODCASTS</b>
   </div>

   <div class="item">
      <b>Pretrained</b> [ <a href="https://pretrained.fm/">https://pretrained.fm/</a> ]<br /><br />
      Weekly AI/ML podcast hosted by Pierce Freeman and Richard Diehl Martinez covering LLM development, infrastructure, and industry trends.<br />
   </div>

   <div class="item">
      <b>Working Code</b> [ <a href="https://workingcode.dev/">https://workingcode.dev/</a> ]<br /><br />
      Weekly developer culture podcast. Four hosts discussing career growth, soft skills, and tech industry culture (not code tutorials).<br />
   </div>
</div>

<div class="item">
   <div class="item">
      <b style="color:#df625b">AUDIO</b>
   </div>

   <div class="item">
      <b>sonny banks</b> [ <a href="https://open.spotify.com/artist/6ib0DdCLBUPWNaHztQhrSL">https://open.spotify.com/artist/6ib0DdCLBUPWNaHztQhrSL</a> ]<br /><br />
      bass house music (est. 2014).<br />
   </div>

   <div class="item">
      <b>xkore</b> [ <a href="https://open.spotify.com/artist/5cfALf5vLhWIo7VeIh4fQX">https://open.spotify.com/artist/5cfALf5vLhWIo7VeIh4fQX</a> ]<br /><br />
      dubstep and drum & bass music (est. 2008).<br />
   </div>
</div>
